body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;font-family: Verdana, sans-serif;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
.content {
    flex: 1;
}

nav img{
    height: 90px;
}

.section-menu{
    display: flex;
    flex-direction: column;
}

.accordion {
    background-color: #8B4513;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: none;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
}

.accordion.active {
    border-radius: 10px 10px 0 0;
    transition: none;
}

.active, .accordion:hover {
    background-color: #8B4513;
}

.panel {
    color:#fff;
    padding: 0 18px;
    background-color: #8B4513;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0px 0px 10px 10px;
}

.panel img{
    height: 150px;
    width: 200px;
    padding: 10px;
}

.panel p{
    font-size: 18px;
    text-align: justify;
}

.item{
    display: flex;
    flex-direction: row;
}

.item-plate{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 10px;
}

svg {
    transition: transform 0.3s ease-in-out;
}
.rotate {
    transform: rotate(180deg);
}

.logo-footer img{
    width: 150px;
}

footer p{
    margin-top: -30px;
    font-size: 16px;
}

footer{
    background-color: #8B4513;
    color: #000;
    height: 200px;
    padding: 30px 0;
    text-align: center;
    margin-top: 150px
}

footer hr{
    width: 90%;
    margin: 0 auto;
    opacity: .5;
}

.navbar-nav{
    gap: 10px;
}

@media (max-width: 768px) {
    footer .navbar-nav  {
        margin-right: 30px;
    }

    .panel img{
        width: 160px;
        height: 160px;
    }

    .panel p{
        font-size: 12px;
    }
}

@media (max-width: 426px) {
    footer .navbar-nav  {
        margin-right: 30px;
    }

    .panel img{
        width: 100px;
        height: 100px;
    }

    .panel p{
        font-size: 10px;
        text-align: justify;
        width: 85%;
    }
    .panel{
        /* flex-direction: column; */
        display: block;
    }
    .item-plate{
        flex-direction: column;
    }
}