body{
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
}

nav img{
    height: 90px;
}

.banner{
    height: 100%;
    width: 100%;
}

.first-section{
    padding: 50px 50px;
    background-color: #8B4513;
    color: #c7c7c7;
}

.introduction{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.introduction p{
    text-align: justify;
}

.second-section{
    padding: 50px 50px;
}

.title-local {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2px; 
    margin-bottom: 15px;
}

.title-local h1 {
    margin: 0;
    text-align: right;
}

.address{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.address p{
    text-align: justify;
}

.address img{
    height: 350px;
}

.third-section {
    margin: 0;
    padding: 0; 
    width: 100%; 
}

.third-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; 
    max-height: 500px;
}

.image-container {
    position: relative;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    opacity: 0.6;
}

.image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 2;
}

.section-fourth img{
    height: 450px;
    border-radius: 20px;
}

.comentary{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

footer{
    background-color: #8B4513;
    color: #fff;
}

footer img{
    height: 90px;
}

.navbar-nav{
    gap: 10px;
}

@media (min-width: 768px) {
    footer .navbar-nav  {
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    .comentary img {
        max-height: 330px;
    }
}